In [1]:
mark=int(input())

50

In [6]:
if mark >50 :
  print("you are passed")
if mark <50 :
  print("you are failed")
if mark==50 :
  print("you are just passed")

you are just passed

In [8]:
salary=int(input())

250000

In [10]:
if salary >=250000 :
  print("you are taxable")
if salary <250000 :
  print("you are not taxable")

you are taxable

In [19]:
if salary >=250000 :
  print("you are taxable")
  print("your tax amount" , (salary*10/100 ))
if salary <250000 :
  print("you are not taxable")

you are taxable
your tax amount 30000.0

In [15]:
salary=int(input())

300000

In [18]:
if salary >=250000 :
  print("you are taxable")
  print("your tax amount" , ((salary-250000)*10/100))

you are taxable
your tax amount 5000.0

In [20]:
salary=int(input())
if salary >=250000 :
  print("you are taxable")
  print("your tax amount" , ((salary-250000)*10/100 ))
if salary <250000 :
  print("you are not taxable")

300000
you are taxable
your tax amount 5000.0

In [29]:
salary=int(input())
if salary <250000 :
  print("no tax")
if 250000<salary <500000:
  print("your tax amount" , (salary*10/100 ))
if 500000<salary <1000000 :
  print("your tax amount" , (salary*20/100))

900000
your tax amount 180000.0