<a href="https://colab.research.google.com/github/joycedenny/introduction-to-python/blob/main/introduction_to_python6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name=input("enter your name")
print(name)

enter your namejoyce
joyce

In [5]:
a=int(input("enter mark 1= "))
b=int(input("enter mark 2= "))
c=int(input("enter mark 3= "))
print("marks=", a+b+c)
print("average marks= ",(a+b+c)/3)

enter mark 1= 30
enter mark 2= 12
enter mark 3= 21
marks= 63
average marks=  21.0

In [7]:
a=int(input("enter mark 1= "))
k=int(input('enter mark 2= '))
if a>k :
  print("the largest number is=", a)
if k>a :
  print("the largest number is=", k)

enter mark 1= 30
enter mark 2= 12
the largest number is= 30

In [9]:
a=int(input("enter mark 1= "))
k=int(input('enter mark 2= '))
if a>k :
  print("the largest number is=", a)
  print("the smallest number is=", k)
if k>a :
  print("the largest number is=", k)
  print("the smallest number is=", a)

enter mark 1= 30
enter mark 2= 12
the largest number is= 30
the smallest number is= 12

In [10]:
a=int(input("n1="))
b=int(input("n2="))
c=int(input("n3="))
if a>b :
  print("the largest number is=", a)
else :
  print("the largest number is=", b)
if a>c :
  print("the largest number is=", a)
else :
  print("the largest number is=", c)

n1=30
n2=12
n3=21
the largest number is= 30
the largest number is= 30

In [30]:
a=int(input("enter a number"))
if a%2 == 0 :
  print("it is an even number")
else:
  print("it is an odd number")

enter a number30
it is an even number

In [32]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
a=int(input("enter a number"))
if a%2 == 0 :
  print("it is an even number")
else:
  print("it is an odd number")

enter a number21
it is an odd number

In [37]:
for i in range(1,11):
  if i%2==0:
   print(i)

2
4
6
8
10

In [39]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50