<a href="https://colab.research.google.com/github/joycedenny/introduction-to-python/blob/main/introduction_to_python_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
travel_source=input("enter your travel source= ")
travel_destination=input("enter your travel destination= ")
number_of_passengers=input("enter the number of passengers= ")

enter your travel sourse= train
enter your travel destination= mysore
enter the number of passengers= 2

In [6]:
print("your travel source=" ,travel_source)
print("your travel destination= " ,travel_destination)
print("number of passengers= " ,number_of_passengers)

your travel source= train
your travel destination=  mysore
number of passengers=  2

In [7]:
a=int(input("enter ticket fare= "))
b=int(input("enter the number of passengers= "))
c=a/b
print("your ticket fare= " ,a)
print("number of passengers= " ,b)
print("ticket fare per person= " ,c)

enter ticket fare= 120
enter the number of passengers= 2
your ticket fare=  120
number of passengers=  2
ticket fare per person=  60.0

In [8]:
name=input("enter your name= ")
ticket_fare=input("enter your fare= ")
print(name, ticket_fare)

enter your name= joyce
enter your fare= 120
joyce 120

In [9]:
ticket_fare=int(input("enter your ticket fare"))
if ticket_fare>10000 :
  print("you are eligible for discount!")
else :
  print("you are not eligible for discount")

enter your ticket fare7000
you are not eligible for discount

In [10]:
ticket_fare=int(input("enter your ticket fare"))
if ticket_fare>15000 :
  print("you are eligible for 20% discount!")
else :
  print("you are eligible for 10% discount!")

enter your ticket fare7000
you are eligible for 10% discount!

In [11]:
ticket_fare=int(input("enter your ticket fare"))
if ticket_fare>15000 :
  print("you are eligible for 20% discount!")
else :
  print("you are eligible for 10% discount!")

enter your ticket fare16000
you are eligible for 20% discount!

In [13]:
ticket_fare=int(input("enter your ticket fare"))
if ticket_fare >15000 :
  print("you are eligible for 20% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*20/100))
if ticket_fare <15000 :
  print("you are eligible for 10% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*10/100))
if ticket_fare <10000 :
  print("you are eligible for 5% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*5/100))

enter your ticket fare16000
you are eligible for 20% discount! , your discounted fare is  12800.0

In [14]:
ticket_fare=int(input("enter your ticket fare= "))
if ticket_fare >15000 :
  print("you are eligible for 20% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*20/100))
if ticket_fare <15000 :
  print("you are eligible for 10% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*10/100))
if ticket_fare <10000 :
  print("you are eligible for 5% discount! , your discounted fare is " ,ticket_fare-(ticket_fare*5/100))

enter your ticket fare= 11000
you are eligible for 10% discount! , your discounted fare is  9900.0

In [17]:
n=int(input("enter number"))
if n>1 :
  print("positive")
else :
  print("negative")
if n==0 :
  print("zero")

enter number11
positive

In [18]:
n=int(input("enter number= "))
if n>1 :
  print("positive")
else :
  print("negative")
if n==0 :
  print("zero")

enter number= -6
negative

In [22]:
age=int(input("enter your age"))
if age>18 :
  print("adult")
if age>13 and age<16 :
  print("teenager")
if age>6 and age<12 :
  print("kid")
if age>2 and age<5 :
  print("toddler")
if age<2 :
  print("infant")

enter your age21
adult

In [24]:
age=int(input("enter your age= "))
if age>18 :
  print("adult")
if age>13 and age<17 :
  print("teenager")
if age>6 and age<12 :
  print("kid")
if age>2 and age<5 :
  print("toddler")
if age<2 :
  print("infant")

enter your age= 16
teenager

In [25]:
age=int(input("enter your age= "))
if age>18 :
  print("adult")
if age>13 and age<16 :
  print("teenager")
if age>6 and age<12 :
  print("kid")
if age>2 and age<5 :
  print("toddler")
if age<2 :
  print("infant")

enter your age= 7
kid

In [28]:
age=int(input("enter your age= "))
if age>18 :
  print("adult")
if age>13 and age<16 :
  print("teenager")
if age>6 and age<12 :
  print("kid")
if age>2 and age<5 :
  print("toddler")
if age<2 :
  print("infant")

enter your age= 4
toddler

In [29]:
age=int(input("enter your age= "))
if age>18 :
  print("adult")
if age>13 and age<16 :
  print("teenager")
if age>6 and age<12 :
  print("kid")
if age>2 and age<5 :
  print("toddler")
if age<2 :
  print("infant")

enter your age= 1
infant

In [32]:
k=input("enter your initials= ")
if k in ["a,e,i,o,u"] :
  print("it contains a vowel")
else :
  print("it does not contain a vowel")

enter your initials= jdk
it does not contain a vowel

In [37]:
k=input("enter your initials= ")
if k in ("a,e,i,o,u") :
  print("it contains a vowel")
else :
  print("it does not contain a vowel")

enter your initials= u
it contains a vowel

In [38]:
name=input("enter your name= ")
for i in name :
  print(i)

enter your name= JOYCE
J
O
Y
C
E

In [41]:
for i in range(45,89,2):
 print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [48]:
for i in range(1,11):
 print(i,"                 ", i+(i+1))

1                   3
2                   5
3                   7
4                   9
5                   11
6                   13
7                   15
8                   17
9                   19
10                   21